.addContainer {
  margin: 2% 7%;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  margin-right: 0.47rem;
  width: 85%;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

select {
  flex: 1;
  padding: 0.5em 1em;
  font-size: 1em;
  margin-right: 2em;
  color: #9c8c7c;
}

::placeholder,
option .myDisabled {
  color: #888;
}
