.addContainer {
  margin: 2% 7%;
}

form {
  display: flex;
  justify-content: center;
}

input {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  margin-right: 0.27rem;
  width: 85%;
  color: #fff;
}

select {
  flex: 1;
  padding: 0.5em 1em;
  font-size: 1em;
  margin-right: 2em;
  color: #9c8c7c;
}

::placeholder,
option .myDisabled {
  color: #888;
}
