@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s ease-out;
}

:root {
  --primary: #0290ff;
  --secondary: #f5f6fa;
  --bg-color: #fafafa;
  --bg-border: #e8e8e8;
  --text: #888;
  --black: #121212;
  --blue: #1b3b80;
  --blue-100: #052465;
}

body {
  background-color: var(--bg-color);
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  margin:2%;
  padding-bottom:8%;
}

.active {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1em;
  border-radius: 10px;
}

h1 {
  color: var(--black);
  font-size: 2.7em;
  font-weight: 700;
}

button {
  background-color: var(--primary);
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 0.97em;
  width: fit-content;
  padding: 0.5em 1.7em;
  border-radius: 3px;
  width: 35%;
}

.header h1 {
  font-size: 1.7em;
  padding: 0.5em 7%;
  font-weight: 700;
  color: var(--primary);
}

.header span {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0.5em;
  margin-left: 0.25em;
}

.header nav {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  padding: 1em 7%;
  border: 3px solid var(--bg-border);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.container {
  margin: 2em 2%;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid var(--bg-border);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper {
  width: 100%;
  border-radius: 20px;
  gap: 2em;
}

.category-wrapper {
  padding: 7%;
  margin: 5em;
}

.category-wrapper h1,
.category-wrapper h2 {
  margin-bottom: 1em;
}

hr {
  margin: 2em 8%;
  background-color: var(--bg-color);
  border-radius: 20px;
  border: 1px solid var(--bg-border);
  width: 80%;
}

.disabled {
  color: var(--text);
}

@media (min-width: 728px) {
  .container {
    margin: 2% 7%;
  }

  .header nav {
    display: flex;
  }

  .header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1em;
  }

  .header nav ul li {
    list-style: none;
  }

  .header nav ul li a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
  }

  .active {
    color: var(--secondary);
    background-color: var(--primary);
  }
}
