@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s ease-out;
}

:root {
  --primary: #ffb606;
  --primary-bg: #1c1c1c;
  --secondary: #e0e0e0;
  --bg-color: #858693;
  --bg-border: #9c9c9c;
  --text: black;
  --black: #191919;
  --gold: #fed600;
  --gold-200: #fdb501;
  --blue: #1b3b80;
  --blue-100: #052465;
}

body {
  background-color: var(--bg-border);
}

.active {
  background-color: var(--bg-color);
  padding: 1em;
  border-radius: 10px;
}

h1 {
  color: var(--primary);
  font-size: 2.7em;
  font-weight: 700;
}

.header h1 {
  font-size: 1.7em;
  padding: 0.5em 7%;
  font-weight: 700;
}

.header span {
  background-color: var(--gold-200);
  color: var(--black);
  padding: 0.5em;
  margin-left: 0.25em;
}

.header nav {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  padding: 1em 7%;
  box-shadow: var(--gold-200) 4px 4px, var(--gold) 9px 7px;
}

.container {
  margin: 2em 7%;
  background-color: #e0e0e0;
  padding: 1em;
  min-height: 40vh;
}

@media (min-width: 728px) {
  .header nav {
    display: flex;
  }

  .header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1em;
  }

  .header nav ul li {
    list-style: none;
  }

  .header nav ul li a {
    text-decoration: none;
    color: var(--gold-200);
    font-size: 1.1em;
    font-weight: 600;
  }
}
