@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s ease-out;
  text-transform: capitalize;
}

:root {
  --primary: #0290ff;
  --secondary: #f5f6fa;
  --bg-color: #fafafa;
  --bg-border: #e8e8e8;
  --text: #888;
  --black: #121212;
  --blue: #1b3b80;
  --blue-100: #052465;
}

body {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: var(--secondary);
}

h1 {
  color: var(--black);
  font-size: 2.7em;
  font-weight: 700;
}

a {
  color: var(--primary);
}

button {
  background-color: var(--primary);
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 0.97em;
  padding: 0.5em 1.7em;
  border-radius: 3px;
}

.header h1 {
  font-size: 1.7em;
  padding: 0.5em;
  font-weight: 700;
  color: var(--primary);
}

.header span {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 0.5em;
  margin-left: 0.25em;
}

.header nav {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary);
  padding: 1em 7%;
  border: 3px solid var(--bg-border);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.container {
  margin: 2em 2%;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid var(--bg-border);
  padding: 3em;
}

.wrapper {
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-border);
  padding: 0 0 4em;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.category-wrapper {
  padding: 7%;
  margin: 5em;
}

.category-wrapper h1,
.category-wrapper h2 {
  margin-bottom: 1em;
}

hr {
  margin: 2em 8%;
  background-color: var(--bg-color);
  border-radius: 20px;
  border: 1px solid var(--bg-border);
  width: 80%;
}

.disabled {
  color: var(--text);
}

.btn {
  margin: 0.11rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

/* Progress circle */

.book-progress {
  display: flex;
  margin: 0 30px;
}

.circle-wrap {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
  margin-right: 10px;
}

.mask .fill {
  clip: rect(0, 30px, 60px, 0);
  background-color: var(--primary);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(180deg);
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0, 60px, 60px, 30px);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.circle-wrap .inside-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
  background: #fff;
  z-index: 1;
}

.percentage {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 10px;
}

.completed {
  margin-top: 0;
  font-size: 0.875rem;
  opacity: 0.5;
}

.current-chap {
  font-size: 0.813rem;
  font-weight: 300;
  opacity: 0.5;
  margin: 0;
}

.chap-num {
  margin-top: 0.438rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.book-update {
  padding-left: 0.688rem;
  padding-top: 0.73em;
}

@media (min-width: 728px) {
  button {
    width: 100%;
  }

  .container {
    margin: 2% 7%;
    padding: 1em;
  }

  .header nav {
    display: flex;
  }

  .header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1em;
  }

  .header nav ul li {
    list-style: none;
  }

  .header nav ul li a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .icon {
    border: 3px solid var(--bg-border);
    padding: 1rem;
    border-radius: 50rem;
  }

  .header ul li a.active {
    color: var(--black);
  }

  .book-update {
    border-left: 1px solid #e8e8e8;
    padding-left: 3.688rem;
    padding-top: 0;
  }
}
